<div class="row">
    <label for="rt"><b>Function Properties</b></label>
    <input type="text" placeholder="Function Task 1" [(ngModel)]="config.currentFunction.entityName" name="rt" class="form-control" />

</div>
<div *ngIf="config.currentFunction.functionCategory2=='Entity Extraction'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
</div>

<!------Clustering stats------->
<div *ngIf="config.currentFunction.className=='SKCentroidAlgorithm'||config.currentFunction.className=='SKConnectivityAlgorithm'">
  <div class="row">
    <div><input type="text" [(ngModel)]="config.currentFunction.noOfCluster" placeholder="Number Of Clusters" class="form-control" /></div>
  </div>
</div>
<div *ngIf="config.currentFunction.className=='SKDensityAlgorithm'">
  <div class="row">
    <div><input type="text" [(ngModel)]="config.currentFunction.leafSize" placeholder="Leaf Size" class="form-control" /></div>
  </div>
</div>
<!------Correlation Stats Analysis------->
<div *ngIf="config.currentFunction.className=='CorrelationStatsAnalysis'">
  <div class="row">Correlation Type:

    <select class="form-control" (change)="onCorrelationSelect($event.target.value)" [(ngModel)]="config.currentFunction.correlationType" style="margin-top:10px">
      <option [selected]="true" value="" hidden selected> Select Technique </option>
      <option [selected]="config.currentFunction.correlationType == 'IndependentwithIndependent'" value="IndependentwithIndependent">Independant with Independant</option>
      <option [selected]="config.currentFunction.correlationType == 'IndependentwithDependent'" value="IndependentwithDependent">Independant with Dependant </option>
    </select>
  </div>
  <div class="row" *ngIf="config.currentFunction.correlationType=='IndependentwithDependent'">
    <div class="col-sm-6"><label>Feature</label></div>
    <div class="col-sm-6">
      <select class="form-control" [(ngModel)]="txt" (ngModelChange)="onCleanseSelect($event)" style="margin-top:20px">
        <option [selected]="txt==f.name" *ngFor="let f of config.currentFunction.selectedVariable" [value]="f.name">{{f.name}}</option>
      </select>
    </div>
  </div>
</div>
<!-- end corelation -->
<div *ngIf="config.currentFunction.functionCategory2=='Correlation Analysis'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
    <!-- word to word -->
    <div *ngIf="config.currentFunction.className==='WordToWordCorrelationAnalysis'">
        <div class="col-sm-10">
            <label>{{config.currentFunction.tType}}</label>
        </div>
        <div class="row">
            <div><input type="text" [(ngModel)]="config.currentFunction.noOfWords" placeholder="Number Of Words" class="form-control" /></div>
        </div>
    </div>
    <div *ngIf="config.currentFunction.className==='PhraseToPhraseCorrelationAnalysis'">
        <div>
            <label>{{config.currentFunction.tType}}</label>
        </div>

        <div class="row">
            <div><input type="text" [(ngModel)]="config.currentFunction.noOfPhrase" placeholder="Number Of Phrases" class="form-control" style="margin-top:10px" /></div>
        </div>
    </div>
    <!--end Phrase Phrase Correlation Analysis-->
    <div *ngIf="config.currentFunction.className==='WordToPhraseCorrelationAnalysis'">
        <div>
            <label>{{config.currentFunction.tType}}</label>
        </div>
        <div class="row">
            <div><input type="text" [(ngModel)]="config.currentFunction.noOfWords" placeholder="Number Of Words" class="form-control" /></div>
        </div>

        <div class="row">
            <div><input type="text" [(ngModel)]="config.currentFunction.noOfPhrase" placeholder="Number Of Phrases" class="form-control" style="margin-top:10px" /></div>
        </div>

        <div class="row">
            <div><input type="text" [(ngModel)]="config.currentFunction.partOfSpeech" placeholder="Part Of Speech" class="form-control" style="margin-top:10px" /></div>
        </div>
    </div>
</div>
<!-- end corelation -->
<div *ngIf="config.currentFunction.className=='CentroidAlgorithm'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.noOfCluster" placeholder="Number Of Clusters" class="form-control" /></div>
    </div>
    <div class="row">
        <div>
            <input type="text" [(ngModel)]="config.currentFunction.initializeMethod" placeholder="Initialize Method" class="form-control" style="margin-top:10px" />
            <select class="form-control" [(ngModel)]="config.currentFunction.initializeMethod" style="margin-top:10px">
                <option [selected]="true" [value]="" selected hidden>--Select initialize method--</option>
                <option [selected]="config.currentFunction.initializeMethod=='Kmeans'" [value]="Kmeans">Kmeans</option>
                <option [selected]="config.currentFunction.initializeMethod=='Random'" [value]="Random">Random </option>
                <option [selected]="config.currentFunction.initializeMethod=='NDArray'" [value]="NDArray">NDArray</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div>
            <select class="form-control" [(ngModel)]="config.currentFunction.preCompute" style="margin-top:10px">
                <option [selected]="true" selected hidden [value]="">--Select pre compute--</option>
                <option [selected]="config.currentFunction.preCompute=='System'" [value]="System">System Defined</option>
                <option [selected]="config.currentFunction.preCompute=='always'" [value]="always">always </option>
                <option [selected]="config.currentFunction.preCompute=='never'" [value]="never">never</option>
            </select>
        </div>
    </div>
</div>


<div class="row" *ngIf="config.currentFunction.className=='CentroidAlgorithm'||config.currentFunction.className=='SKSVMClassification'||config.currentFunction.className=='SKSVMRegression'">
    <div><input type="text" [(ngModel)]="config.currentFunction.noOfIteration" placeholder="Number Of Iteration" class="form-control" style="margin-top:10px" /></div>
</div>
<div class="row" *ngIf="config.currentFunction.className=='CentroidAlgorithm'||config.currentFunction.className=='SKSVMClassification'||config.currentFunction.className=='SKSVMRegression'||config.currentFunction.className=='SKLogisticRegression'">
    <div><input type="text" [(ngModel)]="config.currentFunction.tolerance" placeholder="Tolerance Value" class="form-control" style="margin-top:10px" /></div>
</div>




<div *ngIf="config.currentFunction.className=='DensityAlgorithm'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.leafSize" placeholder="Leaf Size" class="form-control" /></div>
    </div>
</div>
<div *ngIf="config.currentFunction.className=='ConnectivityAlgorithm'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.noOfCluster" placeholder="Number Of Clusters" class="form-control" /></div>
    </div>
    <div class="row">
        <div>
            <select class="form-control" [(ngModel)]="config.currentFunction.linkageMetric" style="margin-top:10px">
                <option [selected]="true" hidden selected [value]="">--Select linkage metrics--</option>
                <option [selected]="config.currentFunction.linkageMetric=='Euclidian'" [value]="Euclidian">Euclidian</option>
                <option [selected]="config.currentFunction.linkageMetric=='L1'" [value]="L1">L1 </option>
                <option [selected]="config.currentFunction.linkageMetric=='L2'" [value]="L2">L2</option>
                <option [selected]="config.currentFunction.linkageMetric=='Manhatten'" [value]="Manhatten">Manhatten</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.linkageCriteria" placeholder="Linkage Criteria" class="form-control" style="margin-top:10px" /></div>
        <select class="form-control" [(ngModel)]="config.currentFunction.linkageCriteria" style="margin-top:10px">
            <option [selected]="true" [value]="" hidden selected>--Select linkage critaria--</option>
            <option [selected]="config.currentFunction.linkageCriteria=='Minimize'" [value]="Minimize">Minimize</option>
            <option [selected]="config.currentFunction.linkageCriteria=='Average'" [value]="Average">Average </option>
            <option [selected]="config.currentFunction.linkageCriteria=='Maximum'" [value]="Maximum">Maximum</option>
        </select>
    </div>
</div>
<div *ngIf="config.currentFunction.className=='IncrementalAlgorithm'">
    <div class="row">
        <div><b>Function Type:</b> {{config.currentFunction.entityName}}</div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.noOfCluster" placeholder="Number Of Clusters" class="form-control" /></div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.thresold" placeholder="Threshold" class="form-control" style="margin-top:10px" /></div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.bracingFactor" placeholder="Branching Factor" class="form-control" style="margin-top:10px" /></div>
    </div>
</div>
<div *ngIf="config.currentFunction.functionCategory2=='Frequency Analysis'">
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.noOfWords" placeholder="Number Of Words" class="form-control" /></div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.partOfSpeech" placeholder="Part Of Speech" class="form-control" style="margin-top:10px" /></div>
    </div>
</div>
<div *ngIf="isComman">
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.noOfWords" placeholder="Number Of Words" class="form-control" /></div>
    </div>
    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.partOfSpeech" placeholder="Part Of Speech" class="form-control" style="margin-top:10px" /></div>
    </div>

</div>

<!-- KNN Clustering  -->
<div *ngIf="config.currentFunction.className == 'SKKNNClustering'||config.currentFunction.className == 'SKKNNClassification'">
    <div class="row">
        <div><b>No of Neighbours:</b> </div>
    </div>

    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.nearestNeighbourComputationTechnique" placeholder=" Choose Technique" class="form-control" style="margin-top:10px" /></div>

        <select class="form-control" [(ngModel)]="config.currentFunction.nearestNeighbourComputationTechnique" style="margin-top:10px">
            <option [selected]="true" [value]="" hidden selected>--Select Technique </option>
            <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='Balltree'" [value]="Balltree">Ball tree</option>
            <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='KDTree'" [value]="KDTree">KDTree </option>
            <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='BruteForce'" [value]="BruteForce">BruteForce</option>
            <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='automaticBestFit'" [value]="automaticBestFit">automaticBestFit</option>
        </select>
    </div>

</div>
<!-- KNN Clustering End -->
<!-- Logistic Regression -->

<div *ngIf="config.currentFunction.className == 'SKKNNClustering'||config.currentFunction.className == 'SKKNNClassification'">
    <div class="row">
        <div><b>OptimizationTechnique:</b> </div>
    </div>

    <div class="row">
        <div><input type="text" [(ngModel)]="config.currentFunction.nearestNeighbourComputationTechnique" placeholder=" Choose Technique" class="form-control" style="margin-top:10px" /></div>

        <select class="form-control" [(ngModel)]="config.currentFunction.optimizationTechnique" style="margin-top:10px">
            <option [selected]="true" [value]="" hidden selected>--Select Technique </option>
            <option [selected]="config.currentFunction.optimizationTechnique=='newton-cg'" [value]="newton-cg">newton-cg</option>
            <option [selected]="config.currentFunction.optimizationTechnique=='lbfgs'" [value]="lbfgs">lbfgs </option>
            <option [selected]="config.currentFunction.optimizationTechnique=='liblinear'" [value]="liblinear">liblinear</option>
            <option [selected]="config.currentFunction.optimizationTechnique=='sag'" [value]="sag">sag</option>
        </select>
    </div>

    <div class="row">
        <div><b>MultiClass Technique:</b> </div>
    </div>
    <br>
    <div class="row">
        <select class="form-control" [(ngModel)]="config.currentFunction.multiclassTechnique" style="margin-top:10px">
            <option [selected]="true" [value]="" hidden selected>--Select Technique </option>
            <option [selected]="config.currentFunction.multiclassTechnique=='ovr'" [value]="ovr">ovr</option>
            <option [selected]="config.currentFunction.multiclassTechnique=='multinominal'" [value]="multinominal">multinominal</option>

        </select>
    </div>

</div>
<!-- Logistic Regression Ends -->
<!--Normalization  & Standardization-->




<div *ngIf="config.currentFunction.className == 'SKSVMRegression'">
    <div class="row">
        <div>Choose Kernal Type</div>
        <select class="form-control" [(ngModel)]="config.currentFunction.kernalType" style="margin-top:10px">
            <option [selected]="true" [value]="" hidden selected>--Select Kernal Type </option>
            <option [selected]="config.currentFunction.kernalType=='poly'" [value]="poly">poly</option>
            <option [selected]="config.currentFunction.kernalType=='linear'" [value]="linear">linear</option>
            <option [selected]="config.currentFunction.kernalType=='rbf'" [value]="rbf">rbf</option>
            <option [selected]="config.currentFunction.kernalType=='sigmoid'" [value]="sigmoid">sigmoid</option>
            <option [selected]="config.currentFunction.kernalType=='precomputed'" [value]="precomputed">precomputed</option>
        </select>
    </div>

</div>


<!-- Normalization End -->
<!--  <div class="row"*ngIf="config.currentFunction.className == 'SKNormalization'">
       <div><input type="text" [(ngModel)]="config.currentFunction.nearestNeighbourComputationTechnique" placeholder=" Choose Technique" class="form-control" style="margin-top:10px" /></div>

       <select class="form-control" [(ngModel)]="config.currentFunction.nearestNeighbourComputationTechnique" style="margin-top:10px">
           <option [selected]="true" [value]="" hidden selected>--Select Technique </option>
           <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='Balltree'" [value]="Balltree">Ball tree</option>
           <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='KDTree'" [value]="KDTree">KDTree </option>
           <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='BruteForce'" [value]="BruteForce">BruteForce</option>
           <option [selected]="config.currentFunction.nearestNeighbourComputationTechnique=='automaticBestFit'" [value]="automaticBestFit">automaticBestFit</option>
       </select>
   </div>-->

<div class="row" *ngIf="config.currentFunction.className == 'SKNormalization'">
    Normalization Metric
    <select class="form-control" (change)="onSelectNormalizationMetric($event.target.value)" [(ngModel)]="config.currentFunction.normalizationMetric" style="margin-top:10px">
        <option [selected]="config.currentFunction.normalizationMetric=='leastDeviation'" value="leastDeviation">least Deviation or L1</option>
        <option [selected]="config.currentFunction.normalizationMetric=='leastSquare'" value="leastSquare">least Square or l2</option>
        <option [selected]="config.currentFunction.normalizationMetric=='max'" value="max">max</option>

    </select>
</div>


<div class="row" *ngIf="config.currentFunction.definateOprVar">
<!-- Ng if to check wether  classname == Correlation stat && parameter == dependent  -->

    <div class="col-sm-6"><label>Text</label></div>
    <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="txt" (ngModelChange)="onCleanseSelect($event)">
            <option [selected]="txt==f.name" *ngFor="let f of config.currentFunction.selectedVariable" [value]="f.name">{{f.name}}</option>
        </select>
    </div>

    <div class="row" *ngIf="config.currentFunction.functionCategory1==='Algorithm'">

        <div class="col-sm-6"><label>Label</label></div>
        <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="txt1" (ngModelChange)="onCleanseSelect1($event)">
                <option [selected]="txt1==f.name" *ngFor="let f of config.currentFunction.selectedVariable" [value]="f.name">{{f.name}}</option>
            </select>
        </div>
    </div>
</div>


<div class="row" *ngIf="config.currentFunction.reqOprInputVarNumSelection">

    <div><b>Select Fields To Read</b> </div>
    <div class="row">
        <div class="col-sm-5" style="height:100px">
            <select multiple="multiple" #field class="form-control" style="width:100%;height:100%">
                <option *ngFor="let f of config.currentFunction.leftVariables" [value]="f.name">{{f.name}}</option>
            </select>
        </div>
        <div class="col-sm-1" style="padding-left: 0px;text-align: right;height: 100px;margin-top: 12px;">
            <i class="material-icons hyper-link" (click)="arrowClick(true)">chevron_right</i><br />
            <i class="material-icons hyper-link" (click)="arrowClick(false)">chevron_left</i>
        </div>
        <div class="col-sm-5" style="height:100px">
            <select multiple="multiple" #selectField class="form-control" style="width:100%;height:100%">
                <option *ngFor="let f of config.currentFunction.rightVariables" [value]="f.name">{{f.name}}</option>
            </select>
        </div>
    </div>
</div>


<div class="row" *ngIf="config.currentFunction.definateOprOutVar">
    <div class="row">
        <div class="col-sm-6"><label>Value</label></div>
        <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="txt" (ngModelChange)="onCleanseSelect($event)">
                <option [selected]="txt==f.name" *ngFor="let f of config.currentFunction.selectedVariable" [value]="f.name">{{f.name}}</option>
            </select>
        </div>
    </div>

</div>

<div class="row" *ngIf="config.currentFunction.className == 'SKUnsupervisedFeatureSelection' || config.currentFunction.className == 'SKSupervisedFeatureSelection'">
  <div class="row"><label>Output Mapping</label></div>

  <div class="row">
    <div class="col-sm-6"><label>Value</label></div>
    <div class="col-sm-6">
      <select class="form-control" [(ngModel)]="txt" (ngModelChange)="onCleanseSelect($event)">
        <option [selected]="txt==f.name" *ngFor="let f of config.currentFunction.selectedVariable" [value]="f.name">{{f.name}}</option>
      </select>
    </div>
