<div [@routerTransition]>
<div  class="portlet light margin-bottom-0">
    <small>Configure Analysis</small>
    <i style="float:right;" class="material-icons">help</i>
<div class="form-group">
    <label for="name">Analysis Name</label>
    <input class="form-control" type="text" id="name" placeholder="Enter Name">
</div>
<div class="form-group">
    <label for="desc">Description</label>
    <input class="form-control" type="text" id="desc" placeholder="Enter Description">
</div>
<div style="float:right;">
<input class="btn btn-primary" type="submit" value="ANALYSE">
</div>
</div>
</div>