
  <div class="main-portlet" style="height: 710px">
    <div class="row"  style="width:100%">
        <div style="vertical-align: top; padding: 5px; width:700px">

            <div  style="margin-left: -17px;width: 27%;margin-top: -12px;">
                <i class="icon-magnifier" style="color:grey;margin-left: 6px;"></i>
                <input class="custmsearchstudio form-control form-control-solid " placeholder="Search" type="text"  >
                <hr  class="custmhr2"/>
            </div>
          
            <div ondragstart="dragstart(event);" ondragend="dragend(event);" ondragenter="dragenter(event);" ondragover="dragover(event);" ondragleave="dragleave(event)" ondrop="drop(event);" class="draggable treediv" draggable="true" #myDiagramDiv ></div>
        </div>



        <div style="vertical-align: top; padding: 5px; width:80%;">
            
                <context-app></context-app>
            </div>


        </div>
  </div>
    <!--<div id="godiagram">
      <go-diagram id="goDiagram" style="width:100%; height:600px;border:1px solid #36c6d3;" go-model="model" go-isreadonly="false" go-automationevents="automationevents" go-journeystatus="journeystatus" ></go-diagram>
    </div>-->

