<div [@routerTransition] style="-webkit-box-align: center;width: 300%;">
    <h3 class="form-title">{{l("ForgotPassword")}}</h3>
    <p>
        Enter User ID or Email to send forget password link information 
    </p>

    <form #forgotPassForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="save()">
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("username")}}</label>
            <input [(ngModel)]="model.username" autoFocus class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" autocomplete="off" placeholder="{{l('UserID')}}" name="username" required maxlength="256"  />
            <!--pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"-->
        </div>

        <div class="form-actions">
            <button [disabled]="saving" routerLink="/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button type="submit" class="btn btn-success uppercase" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
        </div>

    </form>
</div>
