<div [@routerTransition]>

    <div class="main-portlet">

        <br />
        <br />

        <div class="portlet light" style="width:95%;">
            <table class="table table-primary">
                <thead>
                <th> Analysis Name</th>
                <th>Last-Execution</th>
                <th>Created By</th>
                <th>Run-Time</th>
                <th>Status</th>
                <th>Log</th>
                </thead>
                <br />
                <tbody>
                    <tr>
                        <td><a href="#">Analysis Name</a></td>
                        <td> Date Modified</td>
                        <td>John Doe</td>
                        <td>1 m</td>
                        <td>Complete</td>
                        <td><span class="glyphicon glyphicon-list-alt"></span></td>
                    </tr>
                    <tr>
                        <td><a href="#">Analysis Name</a></td>
                        <td> Date Modified</td>
                        <td>Ella Bel</td>
                        <td>1 m</td>
                        <td>Complete</td>
                        <td><span class="glyphicon glyphicon-list-alt"></span></td>
                    </tr>
                    <tr>
                        <td><a href="#">Analysis Name</a></td>
                        <td> Date Modified</td>
                        <td>Vincent Vega</td>
                        <td>1 m</td>
                        <td>Complete</td>
                        <td><span class="glyphicon glyphicon-list-alt"></span></td>
                    </tr>
                    <tr>
                        <td><a href="#">Analysis Name</a></td>
                        <td> Date Modified</td>
                        <td>Anna Fisher</td>
                        <td>1 m</td>
                        <td>Complete</td>
                        <td><span class="glyphicon glyphicon-list-alt"></span></td>
                    </tr>



                </tbody>
            </table>

            <div class="col-sm-offset-11"><input class="btn btn-primary blue" type="submit" value="New"></div>
        </div>


    </div>




</div>






