<div [@routerTransition] style="height:330px;">
  <div class="portlet light margin-bottom-0">
    <div class="portlet-title">
      <div class="caption font-black-sharp">
        <span class="caption-subject bold uppercase">Configure Clustering Analysis </span>
      </div>
    
    </div>
   
      <div class="row">
          <div class="col-sm-12"><img src="../../../assets/global/img/Help.svg" class="helpiconcustm" title="Help Text Goes Here"></div>
      </div>

    <div class="row">
      <div class="col-md-4">About Analysis :</div>
      <div class="col-sm-4"><input class="form-control" type="text" placeholder="Name Of The Analysis"></div>
    </div>
    <div class="row">
      <div class="col-md-4"><label>Description :</label></div>
      <div class="col-sm-4"><input class="form-control" type="text" placeholder="Enter Description"></div>
    </div>
      <div class="row">
      <div class="col-md-4"><label>Analysis Mapping :</label></div>
      <div class="col-md-2"><select class="form-control"><option>Model Fields</option></select></div>
      <div class="col-md-2"><select class="form-control"><option>Dataset Fields</option></select></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2"><select class="form-control"><option>Model Fields</option></select></div>
      <div class="col-md-2"><select class="form-control"><option>Dataset Fields</option></select></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2"><select class="form-control custmmargintop"><option>Model Fields</option></select></div>
      <div class="col-md-2"><select class="form-control custmmargintop"><option>Dataset Fields</option></select></div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2"><select class="form-control custmmargintop"><option>Model Fields</option></select></div>
      <div class="col-md-2"><select class="form-control custmmargintop"><option>Dataset Fields</option></select></div>
    </div>
    <hr/>
    <div class="row">
      <button type="button" class="pull-right btn btn-sm btn-yellow"> &nbsp; Next &nbsp; </button>
    </div>
    <hr/>
  </div>
</div>
