<div [@routerTransition]>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../../../assets/metronic/global/scripts/c3.min.js"></script>
    <script src="../../../assets/metronic/global/scripts/c3.js"></script>
    <div class="main-portlet">
        <div class="portlet light">

            <div class="dchart" id="donutChart" style="margin-top:-20px;"></div>
        </div>
        <!--<div>
          <piechart-app></piechart-app>
        </div>-->
    </div>
</div>