<div [@routerTransition]>
  <div class="main-portlet">
    <!--<div class="container">-->
    <div id="myCarousel" class="carousel slide maxheight" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner maxheight" role="listbox">
        <div class="item active">
          <div class="row">
            <!--<div class="col-md-6"> </div>-->
            <div class="col-md-12 col-lg-12 col-xl-12">
              <img class="maxheight " src="../../../assets/global/img/Slider Images Product Tour_1.png" alt="Chania">
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
              <img class="maxheight " src="../../../assets/global/img/Slider Images Product Tour_2.png" alt="Chania">
            </div>
            <!--<div class="col-md-6"></div>-->
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <!--<div class="col-md-6">  </div>-->
            <div class="col-md-12 col-lg-12 col-xl-12"><img class="maxheight " src="../../../assets/global/img/Slider Images Product Tour_3.png" alt="Chania"></div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
              <img class="maxheight " src="../../../assets/global/img/Slider Images Product Tour_4.png" alt="Chania">
            </div>
            <!--<div class="col-md-6"></div>-->
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--</div>-->
  </div>
</div>
