<div [@routerTransition]>
   

    <div class="main-portlet">
        <div  class="main-body">
            <br/>
                <div class="row">
                        <div class="col-md-2"><label><h4>1. About Model</h4></label> </div>
                        <div class="col-md-6"> <input  type="text"  placeholder="" class="form-control"/></div>
                        
                 </div>
                 <br/>   
                 <div class="row">
                     <div class="col-md-2"></div>
                        <div class="col-md-6"> <input  type="text"  placeholder="Enter Description" class="form-control"/></div>
                 </div>
                 
                 <hr/>
                 <br/>
                <div class="row">
                        <div class="col-md-2"><label><h4>2. Model Type</h4></label> </div>
                        <div class="col-md-2"> Classificaion  <input  type="radio"  name="radio"></div>
                        <div class="col-md-3"> Clustering   <input  type="radio"  name="radio"><span></span></div>
                   <div class="col-md-4"><select class="form-control">
                                            <option value="algorithm">Select Algorithm </option>
                                            <option value="algorithm">options </option>
                                            <option value="algorithm">options </option>
                                        </select>
                 </div>

                </div>
                <hr/>
                <br/>

                <div class="row">
                    <div class="col-md-2"><label><h4>3. Sample Data</h4></label> </div>
                    <div class="col-md-3"><select class="form-control">
                                            <option value="algorithm">Select Train Dataset </option>
                                            <option value="algorithm">options </option>
                                            <option value="algorithm">options </option>
                                        </select>
                    </div>
                 </div>
                   <hr/>
                   <br/>
                <div class="row">
                        <div class="col-md-2"><label><h4>4. Data Mapping</h4> <br/>Map the data fields with
                                                                        those in Analysis Model</label> </div>
                        <div class="col-md-4"> <h4>Algorithm</h4><br/><input  type="text"  placeholder="Text" class="form-control"/></div>
                        <div class="col-md-5"> <h4>Your Datset</h4><br/><select class="form-control">
                                            <option value="algorithm">Select Dataset Mapping Field</option>
                                            <option value="algorithm">options </option>
                                            <option value="algorithm">options </option>
                                        </select></div>
                 </div>
                   <br/>
                 <div class="row">
                     <div class="col-md-2"></div>
                        <div class="col-md-4"> <input  type="text"  placeholder="Label" class="form-control"/></div>
                        <div class="col-md-5"><select class="form-control">
                                            <option value="algorithm">Select Dataset Mapping Field</option>
                                            <option value="algorithm">options </option>
                                            <option value="algorithm">options </option>
                                        </select> </div>
                                        <br/>
                    <div class="col-sm-offset-10" style="margin-top: 100px;"><input class="btn btn-primary blue" type="submit" value="Run Analysis Test"></div>            
                 </div>
                 <hr/>
                 <br/>

                 <div class="row">
                        <div class="col-md-2"><h4><span class="glyphicon glyphicon-plus-sign"></span>Advance Options</h4></div>
                        <div class="col-md-4"><area class="form-control" style="height: 150px;"/></div>
                        <div class="col-sm-offset-10" style="margin-top: 100px"><input class="btn btn-primary blue" type="submit" value="Done"></div>

                 </div>
                    





    </div>

</div>




</div>