<div [@routerTransition]>

 <div class="portlet light" style="width:95%;">

                    <h4>Model History</h4>
                        <br/>
                        <br/>

                    <table class="table table-primary">
                        <thead style="border: 1px gray;">
                            <th> Model Name</th>
                            <th>Last-Execution</th>
                            <th>Created By</th>
                            <th>Run-Time</th>
                            <th>Status</th>
                            <th>Log</th>
                        </thead>
                        <br/>
                        <tbody>
                            <tr>
                                <td><a href="# " >Model Name</a></td>
                                <td>Date Modified</td>
                                <td>John Doe</td>
                                <td>1m</td>
                                <td>Complete</td>
                                <td><span class="glyphicon glyphicon-list-alt"></span></td>
                            </tr>
                             <tr>
                              <td><a href="# " >Model Name</a></td>
                                <td>Date Modified</td>
                                <td>John Doe</td>
                                <td>1m</td>
                                <td>Complete</td>
                                <td><span class="glyphicon glyphicon-list-alt"></span></td>
                             </tr>
                             <tr>
                          <td><a href="# " >Model Name</a></td>
                                <td>Date Modified</td>
                                <td>John Doe</td>
                                <td>1m</td>
                                <td>Complete</td>
                                <td><span class="glyphicon glyphicon-list-alt"></span></td>
                           </tr>
                            <tr>
                        <td><a href="# " >Model Name</a></td>
                                <td>Date Modified</td>
                                <td>John Doe</td>
                                <td>1m</td>
                                <td>Aborted</td>
                                <td><span class="glyphicon glyphicon-list-alt"></span></td>

                            </tr>

                             
                
                        </tbody>
                    </table>
  
                    <div class="col-sm-offset-11"><input class="btn btn-primary blue" type="submit" value="New"></div>
                </div>
            
</div>