<div [@routerTransition]>
   
 <div class="main-portlet">
        <div class="portlet light" style="width:95%;">
<h4>Dashboard</h4>
          
<div class="row" style="margin-left:50px;"> 
    <div class="row" style="float: left;width: 50%">
        <div class="row" style="margin-left:200px;margin-top:150px;">
                        <div class="tab1"> pie chart </div>
                        
                       
                  
        </div>
        <br/>


    </div>   
  
        <div  style="float: left;width: 50%">
                <div><label>CREATE CHART</label><br/><br/></div>
                <br/>


                <div class="row">
                <div class="col-md-2"><input type="text" class="form-control" placeholder="Title"/> </div> 
                <div class="col-md-2"><input type="text" class="form-control" placeholder="Description"/> </div>
                </div>
                
                <br/>
                <div class="row">
                 <div class="col-md-2"><input type="text" class="form-control" placeholder="Chart Name"/> </div> 
                </div>
                 <br/>

                 <div class="row">
                     <div class="col-md-2"><label>Add Source :</label></div>
                     <div class="col-md-2"><input type="radio" name="source"/> Dataset</div>
                     <div class="col-md-2"><input type="radio" name="source"/> Analysis</div>
                 </div>
                 <br/>
                 <div class="row">
                     <div class="col-md-2"></div>
                     <div class="col-md-2"><select class="form-control"><option>Dataset</option></select></div>
                 </div>
                 <br/>
                 <div class="row">
                     <div class="col-md-2"></div>
                     <div class="col-md-2"><select class="form-control"><option>Sub Dataset</option></select></div>
                 </div>

                <br/>


                <div class="row">
                    <div class="col-md-2"><select class="form-control"><option>Font Size</option></select></div>
                    <div class="col-md-2"></div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-2"><select class="form-control"><option>Colour</option></select></div>
                    <div class="col-md-2"><select class="form-control"><option>Font Family</option></select></div>
                </div>

                <br/>
                <div class="row">
                     <div class="col-md-2"><label>Add Gridline :</label></div>
                     <div class="col-md-2"><input type="radio" name="grid"/> Yes</div>
                     <div class="col-md-2"><input type="radio" name="grid"/> No</div>
                 </div>
                 <br/>

                 <div class="row">
                <div class="col-md-2"><input type="text" class="form-control" placeholder="Chart Type"/> </div> 
                <div class="col-md-2"><input type="text" class="form-control" placeholder="Measure Aggr."/> </div>
                </div>
                
                <br/>
                <div class="row">
                 <div class="col-md-2"><input type="text" class="form-control" placeholder="Colour"/> </div> 
                </div>
                 <br/>





        </div>
</div>


<div class="col-md-offset-2"><button type="submit" class="btn btn-primary blue" >Create Chart</button></div>
 <div class="col-md-offset-11"><button type="submit" class="btn btn-primary blue" >Done</button></div>

    </div>
</div>




</div>