<div class="main-portlet">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2 studiodiv1 resizable" style="width:17%">
                <div class="customjstree" style="margin-left:-27px">
                    <!--<gojs-tree></gojs-tree>-->
                    <!--<div class="col-sm-10"><i class="fa fa-search fa-small"></i><input type="text" class="form-control" style="height: 26px;margin-top: 3px;" placeholder="Search Tasks...." /> </div><hr style="margin-top:34px"/>-->
                 
                   
                    <div  class="sidenav">
                     
                       <div class="custmdashmenuup"><a href="#"> <label style="font-size:13px">INTRODUCTION</label></a></div>
                        <div class="custmdashmenu1"><a href="#"><label style="font-size:13px">  LAYOUT SELECTION / CHART STYLING</label></a></div>
                        <div class="custmdashmenu"><a href="#"> <label style="font-size:13px">DASHBOARD STYLING</label></a></div>
                        <div class="custmdashmenu"><a href="#"> <label style="font-size:13px">GLOBAL FILTERS</label></a></div>
                    </div>

                </div>
            </div>
            <!-- Middle Pane -->
            <div class="col-md-7 studiodiv2 resizable">
                <div class="portlet light" style="height: 673px;margin-top: -11px;">
                    <div style="margin-top: -17px;">
                        <span class="caption-subject bold uppercase">Edit Dashboard</span>
                    </div>
                    <hr style="margin-top:-5px" />
                    <div class="studiosmalldiv">
                        <div class="row">
                            <div class="col-sm-3" style="width:14%"></div>
                            <div class="col-sm-2">
                                <button style="border: none;background-color: white;height:40px"> <img src="../../../assets/global/img/Run Gray.svg" class="listicon1" />&nbsp;<span style="font-size: 12px;">Add Chart</span></button>
                            </div>
                            <div class="col-sm-3" style="width:29%;text-align:center">
                                <button style="border: none;background-color: white;height:40px"><img src="../../../assets/global/img/Abort Gray.svg" class="listicon1" />&nbsp;<span style="font-size: 12px;">Remove chart</span></button>
                            </div>
                            <div class="col-sm-3" style="float:right">
                                <button style="border: none;background-color: white;height:40px"><img src="../../../assets/global/img/Abort Gray.svg" class="listicon1" />&nbsp;<span style="font-size: 12px;">Add Association Matrix</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- Drop Zone -->
                    <br />
                    <!--Original div-->
                    <div style="background-color: #eee;margin-left: -20px;margin-right: -20px;">

                        <div id="myDiagramDivContext" class="drop" style="height:544px;padding: 5px;margin-top:-48px">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div id="draggable" class="portlet box red">
                                        <div class="portlet-title" style="border-bottom: 1px solid lightgray">
                                            <div class="caption">
                                                <b>Chord Chart</b>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse"> </a>
                                                <a href="javascript:;" class="config"> </a>
                                                <a href="javascript:;" class="reload"> </a>
                                                <a href="javascript:;" class="remove"> </a>
                                                <a href="javascript:;" class="fullscreen"> </a>
                                            </div>
                                        </div>
                                        <div id="chart" class="portlet-body form"></div>
                                    </div>
                                </div>



                                <div class="col-xs-5">

                                    <div class="portlet box red draggable2">
                                        <div class="portlet-title " style="border-bottom: 1px solid lightgray">
                                            <div class="caption">
                                                <b>Pie Chart</b>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="fa fa-toggle-on"> </a>
                                                <a href="javascript:;" class="fa fa-contao"> </a>
                                                <a href="javascript:;" class="fa fa-refresh"> </a>
                                                <a href="javascript:;" class="fa fa-futbol-o"> </a>
                                                <a href="javascript:;" class="fa fa-trash"> </a>
                                            </div>
                                        </div>
                                        <div id="charts" class="portlet-body form"></div>
                                    </div>
                                </div>


                            </div>



                        </div>
                     
                    </div>
                   
                 

                    <!-- Drop Zone end -->
                    <!--<br />
                    <div class="row" style="margin-top: -46px">
                        <button type="button" class="pull-right btn btn-sm btn-yellow" style="width:136px"> Validate And Create </button>
                    </div>-->
                    <!--</div>-->

                </div>
            </div>
            <!-- Middle Pane end -->
            <!-- right Pane -->
            <div class="col-md-2 studiodiv3 resizable" style="width:24%">
                <div class="portlet light customstudiodiv33"  >
                    
                    <intro></intro>
                    <!--<layout></layout>-->
                    <!--<dash-style></dash-style>-->



                    <!--<dash-pie></dash-pie>-->
                    <!--<dash-donut></dash-donut>-->
                    <!--<dash-chord></dash-chord>-->
                    <!--<dash-line></dash-line>-->
                    <!--<dash-vert-bar></dash-vert-bar>-->
                    <!--<dash-horizontal-bar></dash-horizontal-bar>-->
                    <!--<dash-word></dash-word>-->
                    <div class="pull-right"><button class="btn btn-success">Next</button></div>
                </div>

               
            </div>
            <!-- right Pane end-->

        </div>
    </div>
</div>








