<div [@routerTransition]>
   
 <div class="main-portlet">
        <div class="portlet light" style="width:95%;">
<h4>View Dashboard</h4>
        
<div class="row" style="margin-left:50px;"> 
    <div class="row" style="float: left;width: 50%">
        <div class="row" >
                        <div class="tab1"> chart 1 </div>
                        <div class="tab2">chart 2</div>
                       
                  
        </div>
        <br/>

        <div class="row" >
                        <div class="tab3">chart 3</div>
                        <div class="tab4">chart 4</div>
        </div>

    </div>   
  
        <div  style="float: left;width: 50%">
                <div><label><b> FILTER</b></label><br/><br/> </div>
                

                <label>Dimension :</label>

                <div style="height:150px;width: 300px;border: solid;overflow: auto;">
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                           <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>


                    
                </div><br/>

                <label>Mapping :</label>

               <div style="height:150px;width: 300px;border: solid;overflow: auto;">
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                           <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>

                    
                </div><br/>

                <label>Measure Rule :</label>

                 <div style="height:150px;width: 300px;border: solid;overflow: auto;">
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                           <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>
                        <div><input type="checkbox" /></div>

                    
                </div>

                
                
                <br/>
        </div>

       


</div>


        <br/>
        <div class="row">
                <div class="col-md-2"><button type="submit" class="btn btn-primary blue" >Create Chart</button></div>
                <div class="col-md-2"><button type="submit" class="btn btn-primary blue" >Filter</button></div>
               
                <div class="col-sm-offset-7"><button type="submit" class="btn btn-primary blue" >Apply</button></div>
        </div>
</div>
</div>
</div>