<div [@routerTransition]>
    
  
    <div class="main-portlet">





            <div class="portlet light" style="width:95%;height:800px;">
                <h4> Global Filters</h4>
                <br/>

                        <div class="row">
                                <div class="col-md-2"><label for="dim">dimension1</label>
                                        <select class="form-control" id="dim">
                                            <option >Dim 1</option>
                                        </select>
                                </div>     

                                <div class="col-md-2"><label for="role">Role</label>
                                        <select class="form-control" id="role">
                                            <option >Less Than</option>
                                        </select>
                                </div>

                                <div class="col-md-2"><label for="value">Default Value</label>
                                        <select class="form-control" id="value">
                                              <option >1 </option>
                                       </select>
                                </div>
                                <br/>
                                    
                                    <div class="col-md-2"><span class="glyphicon glyphicon-plus-sign" ></span></div>


                        </div>
<br/>
<div class="row">
   <div class="col-md-2"><select class="form-control">
       <option>AND</option>
       <option>OR</option>
   </select>
   </div>
</div>
<br/>


               <div class="row">
                                <div class="col-md-2"><label for="dim">dimension1</label>
                                        <select class="form-control" id="dim">
                                            <option >Dim 1</option>
                                        </select>
                                </div>     

                                <div class="col-md-2"><label for="role">Role</label>
                                        <select class="form-control" id="role">
                                            <option >Less Than</option>
                                        </select>
                                </div>

                                <div class="col-md-2"><label for="value">Default Value</label>
                                        <select class="form-control" id="value">
                                              <option >1 </option>
                                       </select>
                                </div>
                                


                 </div>

                        <br/>
                                 <div class="col-sm-offset-11">     
                                     <button style="width:120px" class="btn btn-primary blue">Done</button>
                                 </div>
                        <br/>

</div>
</div>
</div>